{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>
            {% block tab_title %}

            {% endblock tab_title %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #4 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/scripts/datatable.js' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/datatables/datatables.min.js' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'layouts/layout4/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'layouts/layout4/css/themes/default.min.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{% static 'layouts/layout4/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="{% static 'global/img/favicon.jpg' %}" /> </head>

        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

        {% block css %}

        {% endblock css %}

    <!-- END HEAD -->
    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="{% url 'website:index' %}">
                        <img src="{% static 'global/img/logo.jpg' %}" height="46" alt="logo" class="logo-default" />
                    </a>
                </div>
                <!-- END LOGO -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start active">
                            <a href="{% url 'website:index' %}" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Inicio</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase">Opciones</h3>
                        </li>
                        <li class="nav-item  ">
                            <a href="{% url 'contactos:buscar_contactos' %}" class="nav-link nav-toggle">
                                <i class="fa fa-search"></i>
                                <span class="title">Buscar Contactos</span>
                            </a>

                        </li>
                        <li class="nav-item  ">
                            <a href="{% url 'contactos:nuevo_contacto' %}" class="nav-link nav-toggle">
                                <i class="fa fa-plus"></i>
                                <span class="title">Nuevo Contacto</span>
                            </a>

                        </li>

                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">

                    {% block content %}

                    {% endblock content %}

                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> 2018 &copy;
                <a target="_blank" href="http://www.erickmhq.com">Erick M. Hdez</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->

        <!--[if lt IE 9]>
            <script src="../assets/global/plugins/respond.min.js"></script>
            <script src="../assets/global/plugins/excanvas.min.js"></script>
            <script src="../assets/global/plugins/ie8.fix.min.js"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src='{% static "global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" %}' type="text/javascript"></script>
        <script src="{% static 'global/plugins/moment.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/horizontal-timeline/horizontal-timeline.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery-easypiechart/jquery.easypiechart.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'pages/scripts/dashboard.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pages/scripts/table-datatables-fixedheader.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pages/scripts/ui-confirmations.min.js' %}" type="text/javascript"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'layouts/layout4/scripts/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        {% block js %}

        {% endblock js %}

    </body>

</html>
