{% extends 'website/base.html' %}

{% load staticfiles %}

{% block tab_title %}
    Index
{% endblock tab_title %}

{% block content %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Gestion de Contactos Grupo CIMD
{#                <small>statistics, charts, recent events and reports</small>#}
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'website:index' %}">Inicio</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-3">
            <div class="dashboard-stat2 bordered">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            <span data-counter="counterup" data-value="{{ contactos | length }}">0</span>
                        </h3>
                        <small>Cantidad de Contactos en el Directorio</small>
                    </div>
                    <div class="icon">
                        <i class="icon-users"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}