{% extends 'website/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block tab_title %}
    MODIFICAR CONTACTO
{% endblock tab_title %}

{% block content %}
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Modificar Contacto
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'website:index' %}">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
{#            <a href="{% url 'contactos:modificar_contacto' contacto_id %}">#}
            <a href="">
                <span class="active">Modificar Contacto</span>
            </a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE BASE CONTENT -->
    {% if message %}
        <div class = '{{ class_alert }}'>
            {{ message }}
        </div>
    {% endif %}

    <div class="row">
        <div class = "col-md-12">
            <div class="portlet light ">

                <div class="portlet-body">

                    <!-- BEGIN FORM-->
                    <form action="" class="form-horizontal" method = 'POST'>{% csrf_token %}
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.nombre.label }} <span style="color: red">*</span></label>
                                <div class="col-md-6">
                                    {{ form.nombre | attr:'class:form-control' | attr:'name:nombre' | attr:'placeholder:Nombre' | attr:'required' }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.apellidos.label }} <span style="color: red">*</span></label>
                                <div class="col-md-6">
                                    {{ form.apellidos | attr:'class:form-control' | attr:'name:apellidos' | attr:'placeholder:Apellidos' | attr:'required' }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.telefono.label }}</label>
                                <div class="col-md-6">
                                    {{ form.telefono | attr:'class:form-control' | attr:'name:telefono' | attr:'placeholder:Telefono' }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.email.label }} <span style="color: red">*</span></label>
                                <div class="col-md-6">
                                    {{ form.email | attr:'class:form-control' | attr:'name:email' | attr:'placeholder:E-Mail' | attr:'required' }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.sitio_web.label }}</label>
                                <div class="col-md-6">
                                    {{ form.sitio_web | attr:'class:form-control' | attr:'name:sitio_web' | attr:'placeholder:Sitio Web' }}
                                </div>
                            </div>

                            <hr>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.direccion.label }}</label>
                                <div class="col-md-6">
                                    <div id="locationField">
                                        {{ form.direccion | attr:'class:form-control' | attr:'name:direccion' | attr:'placeholder:Direccion' | attr:'id:autocomplete' | attr:'onFocus:geolocate()' }}
                                    </div>
                                    <span class="help-block">Empieza a introducir la direccion del contacto y selecciona una de entre las opciones disponibles</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.calle.label }} <span style="color: red">*</span></label>
                                <div class="col-md-6">
                                    {{ form.calle | attr:'class:form-control' | attr:'name:calle' | attr:'placeholder:Calle' | attr:'id:route' | attr:'required' }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.poblacion.label }} <span style="color: red">*</span></label>
                                <div class="col-md-6">
                                    {{ form.poblacion | attr:'class:form-control' | attr:'name:poblacion' | attr:'placeholder:Poblacion' | attr:'id:locality' | attr:'required' }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.codigo_postal.label }} <span style="color: red">*</span></label>
                                <div class="col-md-6">
                                    {{ form.codigo_postal | attr:'class:form-control' | attr:'name:codigo_postal' | attr:'placeholder:Codigo Postal' | attr:'id:postal_code' | attr:'required' }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ form.pais.label }} <span style="color: red">*</span></label>
                                <div class="col-md-6">
                                    {{ form.pais | attr:'class:form-control' | attr:'name:pais' | attr:'placeholder:Pais' | attr:'id:country' | attr:'required' }}
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <button type="submit" class="btn btn-block blue-hoki">MODIFICAR CONTACTO</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>

{#            Don't care Fields (as hidden ) #}
            <input class="hidden" id="street_number"></input>
            <input class="hidden" id="administrative_area_level_1"></input>

        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src = '{% static 'global/scripts/custom/autocomplete_places.js' %}' type = "text/javascript"></script>
    <script src = "https://maps.googleapis.com/maps/api/js?key={{ G_APIPKey }}&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock js %}